body {
  background: #ead6ff;
  font-size: 14px;
  color: var(--reni);
}

.title {
  font-size: 55px;
}

h3 {
  color: #222;
}

.btn {
  border: 5px solid var(--reni);
  border-radius: 10px;
}

.quiz-wrapper {
  width: 100%;
  min-height: 93vh;
  /* position: relative; */
  padding-bottom: 5px;
  margin: 0;
  box-sizing: border-box;
}

footer {
  width: 100%;
  text-align: center;
  padding: 5px 0;
  position: absolute;
  bottom: 0;
}

.back {
  background: var(--reni);
}

/*quiztop*/
.explanation {
  margin-bottom: 10%;
}

.explanation > h3 {
  font-size: 20px;
  font-weight: normal;
}

.container {
  width: 90%;
  margin: 0 auto ;
  background: #fff;
  border-radius: 4px;
  padding: 10px 10px 15px;
  position: relative;
}

#question {
  margin-bottom: 25px;
  color: var(--reni);
  font-size: 18px;
  font-weight: bold;
}

#choices {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
  font-size: 15px;
}

#choices > li {
  border: 1px solid var(--reni);
  border-radius: 4px;
  padding: 10px;
  margin: 0 auto 20px;
  width: 80%;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#choices > li:hover {
  background: #f8f8f8;
}

#choices > li.correct {
  background: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
  font-weight: bold;
}

#choices > li.correct::after {
  content: ' ...正解!';
}

#choices > li.wrong {
  background: #f8d8da;
  border-color: #f5c6cb;
  color: #721c24;
  font-weight: bold;
}

#choices > li.wrong::after {
  content: ' ... 残念!';
}

#btn, #result > a {
  display: block;
  /* background: rgb(194, 103, 243); */
  background: var(--reni);
  padding: 8px;
  margin: 25px auto 0;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  width: 80%;
  color: #fff;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#btn.disabled {
  background: #ccc;
  opacity: 0.7;
}

#result {
  position: absolute;
  width: 80%;
  background: #fff;
  padding: 20px;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  border: 5px solid var(--reni);
  border-radius: 4px;
  color: var(--reni);
  text-align: center;
  transition: 0.4s;
}

#result.hidden {
  transform: translateY(-700px);
}

#result > h5 {
  font-size: 24px;
}

#result > p {
  font-size: 20px;
  margin-bottom: 40px;
}