body {
  background: #ffffea;
  color: var(--shiori);
  height: 100%;
}

.btn {
  border: 5px solid var(--shiori);
  border-radius: 10px;
}

h3 {
  color: #222;
}

.mood-wrapper {
  min-height: 100vh;
  position: relative;
  margin: 0;
  box-sizing: border-box;
}

footer {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  padding: 5px 0;
  position: absolute;
  bottom: 0;
}

.back {
  background: var(--shiori);
  margin-right: 10px;
}

.explanation {
  margin-bottom: 10%;
}

.explanation > h3 {
  font-size: 20px;
  font-weight: normal;
}

/*選択肢*/
.question {
  color: var(--shiori);
  font-weight: normal;
  font-size: 20px;
}

.q {
  width: 80%;
  height: 340px;
  background: white;
  border: 5px solid var(--shiori);
  border-radius: 10px;
  margin: 0 auto;
  position: relative;
 }
 

.btnA {
  display: block;
  border-radius: 4px;
  background: white;
  font-family: 'Trebuchet MS';
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin:0 auto;
  margin-bottom: 20px;
  width: 70%;
  padding: 8px;
  color: black;
  font-size: 18px;
  border: 3px solid var(--shiori);
  border-radius: 10px;
}

.answer {
  height: px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 90%;
  padding-top: 25px;
}

/*結果*/

.result {
  width: 100%;
  height: 390px;
  position: relative;
}

.logo-result {
  display: block;
  width: 70%;
  padding: 3% 0 0;
  margin: 0 auto;
}

h2 {
  padding: 5px;
  color: var(--shiori);
}

#jacket {
  height: 230px;
}

#title {
  color: var(--shiori);
  font-size: 22px;
  width: 375px;
  height: 75px;
  display: table-cell;
  vertical-align: middle;
  padding: 0;
  margin: 0 auto;  
}

#released {
  color: var(--shiori);
  margin: 5px auto 15px;
}

.info {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.icons > a {
  display:inline-block;
  overflow:hidden;
  background: no-repeat;
  width:40px;
  height:40px;
  margin-right: 5px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}