body {
  text-align: center;
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
  /* font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif; */
  --reni: #8300C8;
  --kanako: #FF2D20;
  --shiori: #FCC630;
  --ayaka:  #E25AAA;
  padding: 0;
  margin: 0;
}

.reni {
  color: var(--reni);
  border: 2px solid var(--reni);
}

.kanako {
  color: var(--kanako);
  border: 2px solid var(--kanako);
}

.shiori {
  color: var(--shiori);
  border: 2px solid var(--shiori);
}

.ayaka {
  color: var(--ayaka);
  border: 2px solid var(--ayaka);
}

.title {
  font-family: 'Monoton', cursive;
  font-weight: normal;
  font-size: 45px;
  letter-spacing: 5px;
  border: none;
  margin-top: 30px;
}

.logo {
  display: block;
  width: 80%;
  margin: 12% auto;
}

.btn {
  display: block;
  width: 80%;
  padding: 15px;
  margin:0 auto 40px;
  border-radius: 4px;
  background: white;
  font-size: 25px;
  font-family: 'Trebuchet MS';
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.menu {
  margin-top:18%; 
}

.backtop {
  display: inline-block;
  margin: 0 auto; 
  /* width: 35%; */
  padding: 8px;
  border-radius: 4px;
  color: white;
  font-size: 13px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}